/** ---------------------------- Reviews Form ---------------------------- */

/* Review Title */
.yay-reviews-review-title input {
  display: block;
}
.yay-reviews-review-title__description {
  font-size: 1rem;
}

/* Upload Media Form */
.yay-reviews-upload-media > * {
  margin-block-end: 0.5rem !important;
}

.yay-reviews-upload-media__label {
  cursor: pointer;
  display: inline-block;
}

.yay-reviews-upload-media__description {
  font-size: 1rem;
}

.yay-reviews-upload-media__upload-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

/** GDPR */
.yay-reviews-gdpr {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-block-start: 0.5rem;
}

.yay-reviews-gdpr__message label {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

/** Product Attributes */
.yay-reviews-product-attributes__select {
  display: block;
  max-width: 200px;
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
}

/** Upload Card */

.yay-reviews-upload-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  border: 1px dashed #e5e7eb;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: border-color 0.2s;
}

.yay-reviews-upload-card:hover {
  border-color: #1890ff;
}

.yay-reviews-upload-card > :first-child {
  color: #9ca3af;
}

.yay-reviews-upload-card > :last-child {
  font-size: 0.75rem;
  color: #6b7280;
  margin-top: 0.25rem;
}

.yay-reviews-thumb-card img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
.yay-reviews-thumb-card button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #757575;
  color: #fff !important;
  border: none !important;
  border-radius: 9999px;
  padding: 0.25rem;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.woocommerce-Reviews-title {
  margin-bottom: 1rem;
}

/** ---------------------------- End Reviews Form ---------------------------- */

.yay-reviews-loading-icon {
  width: 24px;
  height: 24px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-top: 2px solid #000;
  border-radius: 50%;
  animation: yay-reviews-spin 1s linear infinite;
  margin-bottom: 4px;
}

@keyframes yay-reviews-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.yay-reviews-preview-media {
  max-width: 400px;
  margin-top: 10px;
  max-height: 400px;
  overflow: auto;
}

.yay-reviews-preview-media > img {
  display: block;
  width: 100%;
  height: auto;
}

#review_form_wrapper #review_form textarea,
#review_form_wrapper #review_form input[type="text"],
#review_form_wrapper #review_form input[type="email"],
#review_form_wrapper #review_form input[type="number"],
#review_form_wrapper #review_form input[type="tel"],
#review_form_wrapper #review_form input[type="url"],
#review_form_wrapper #review_form input[type="search"],
#review_form_wrapper #review_form input[type="password"] {
  border-width: 1px;
  border-radius: 4px;
}

#yay-reviews-modal-close {
  background: transparent;
}

.yay-reviews-upload-card {
  transition: all 0.2s ease-in-out;
}

.yay-reviews-upload-card span {
  transition: all 0.2s ease-in-out;
}

.yay-reviews-upload-card:hover {
  border-color: #000 !important;
}

.yay-reviews-upload-card:hover span {
  color: #000 !important;
}

.yay-reviews-thumb-card button[type="button"] {
  font-size: 18px;
  top: -7px;
  right: -7px;
  z-index: 10;
}

.yay-reviews-thumb-card:hover {
  border-color: #000;
}

.yay-reviews-thumb-card:hover button[type="button"] {
  visibility: visible;
  opacity: 1;
}
.yay-reviews-attribute-list {
  display: flex;
  gap: 10px;
  /* Adjust space as needed */
  align-items: center;
}

.yay-reviews-slider-track {
  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  flex: 1;
  min-width: 0;
}

.yay-reviews-slider-track::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}

.yay-reviews-slider-track .yay-reviews-media {
  flex-shrink: 0;
  cursor: pointer;
}

.yay-reviews-slider-track img {
  display: block;
  width: 140px;
  height: 140px;
  object-fit: contain;
  flex-shrink: 0;
}

.yay-reviews-slider {
  position: relative;
  width: 100%;
}

.yay-reviews-slider-arrow {
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transform: translateY(-50%);
  box-shadow: 0px 10px 25px 0px #377e620d;
  transition: all 0.2s ease-in-out;
}

.yay-reviews-slider-arrow:hover {
  background: #edf3f9;
  box-shadow: 0px 10px 25px 0px #12294026;
  border: none;
}

.yay-reviews-slider-arrow svg path {
  stroke: #808890;
  fill: transparent;
  transition: all 0.2s ease-in-out;
}

.yay-reviews-slider-arrow:hover svg path {
  stroke: #122940;
  fill: transparent;
}

.yay-reviews-slider-arrow.left-arrow {
  left: -20px;
  top: 50%;
}

.yay-reviews-slider-arrow.right-arrow {
  right: -20px;
  top: 50%;
}

.yay-reviews-summary {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.yay-reviews-summary-item {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.yay-reviews-filter-rating {
  text-underline-offset: 3px;
}

.yay-reviews-summary-item-label {
  flex-basis: 40px;
  text-align: right;
  color: #555;
  flex-shrink: 0;
}

.yay-reviews-summary-item-progress-bar {
  flex-grow: 1;
  background-color: #f0f0f0;
  border-radius: 5px;
  height: 8px;
}

.yay-reviews-summary-item-progress {
  height: 100%;
  background-color: #a0a0a0;
  border-radius: 5px;
}

.yay-reviews-summary-item-count {
  flex-basis: 30px;
  text-align: left;
  color: #555;
  flex-shrink: 0;
}

.yay-reviews-summary-card {
  border: 1px solid #e0e0e0;
  padding: 1rem;
  border-radius: 8px;
  max-width: 500px;
  margin-bottom: 1rem;
}
