#wpcontent {
  padding: 0 !important;
}
.ant-message {
  z-index: 99999999;
}
.wrap {
  margin: 0;
}
#yay-reviews-settings table.form-table {
  width: auto;
}
#yay-reviews-settings table.form-table .form-table {
  width: 100%;
}
.yayrv-tabs-nav {
  background-color: #fff;
  padding-inline: 2rem !important;
  text-align: center;
}
.yayrv-tabs-content-holder {
  padding: 2rem;
}
.yayrv-tabs-tabpane {
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
  border: 1px solid #f0f0f0;
  color: rgba(0, 0, 0, 0.88);
}

.yayr-row {
  margin: 0 0 10px 0;
}
.display-flex {
  display: flex;
  gap: 10px;
}
.display-flex > div {
  flex: 1;
}
#yay-reviews-settings table.form-table.yay-reviews-coupon-wrap ,
#yay-reviews-settings table.form-table.yay-reviews-optional-fields-wrap {
  width: 100%;
}
.yayrv-tabs-content .notice.notice-warning {
  display: none;
}
.yayr-row-ptb-0 {
  .yayrv-input-affix-wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }
}
