:root {
	--primary-color: #2271b1;
	--primary-color-dark: #135e96;
	--primary-color-light: #4487d3;

	--text-color: #3c434a;
	--text-color-primary: #2271b1;
	--text-color-primary-light: #4487d3;

	--yayrv-success-background-color: #c6e1c6;
	--yayrv-success-text-color: #5b841b;
	--yayrv-warning-background-color: #f8dda7;
	--yayrv-warning-text-color: #94660c;
	--yayrv-notice-background-color: #c8d7e1;
	--yayrv-notice-text-color: #2e4453;
	--yayrv-error-background-color: #d63638;
	--yayrv-error-text-color: #fff;
	--yayrv-cancel-background-color: #e5e5e5;
	--yayrv-cancel-text-color: #777;
}

.yayrv-tabs-nav {
	margin-bottom: 0 !important;
}

// .yayrv-tabs-content-holder {
// 	display: none !important;
// }

.yayrv-input {
	border-color: #d9d9d9 !important;
	height: 30px;
}
.yayrv-select {
    min-height: 30px;
}
.yayrv-input:focus,
.yayrv-input-focused,
.yayrv-input-number:focus,
.yayrv-input-number-focused,
.yayrv-select-selector:focus,
.yayrv-select-focused .yayrv-select-selector,
.yayrv-picker-focused {
	border-color: var(--primary-color) !important;
	box-shadow: 0 0 0 3px rgb(5 145 255 / 10%) !important;
	border-inline-end-width: 1px !important;
	outline: 0 !important;
}

.yayrv-input:hover,
.yayrv-select-selector:hover,
.yayrv-input-number:hover,
.yayrv-picker:hover {
	border-color: var(--primary-color) !important;
}


/* Button */
.yayrv-btn-primary:not(:disabled):hover {
	background-color: var(--primary-color-dark) !important;
}

.yayrv-btn-primary.yayrv-btn-dangerous:hover {
	background-color: #d63638 !important;
}

.yayrv-btn-primary:disabled {
	cursor: auto;
}

.yayrv-btn-primary {
	background-color: var(--primary-color);
}

.yayrv-btn-link {
	color: var(--primary-color);
}

.yayrv-btn-link:not(:disabled):hover {
	color: var(--primary-color-dark);
}


.yayrv-radio-button-wrapper-checked:not(.yayrv-radio-button-wrapper-disabled) {
	background: var(--primary-color) !important;
	border-color: var(--primary-color) !important;
}

.yayrv-radio-button-wrapper:hover {
	color: var(--text-color-primary);
}

.yayrv-btn-default:not(:disabled):hover {
	color: var(--text-color-primary);
	border-color: var(--primary-color);
}

.yayrv-btn-dashed:not(:disabled):hover {
	color: var(--text-color-primary);
	border-color: var(--primary-color);
}

/* Checkbox */
.yayrv-checkbox-checked .yayrv-checkbox-inner {
	background-color: var(--primary-color);
	border-color: var(--primary-color);
}

.yayrv-checkbox-wrapper:not(.yayrv-checkbox-wrapper-disabled):hover .yayrv-checkbox-inner,
.yayrv-checkbox:not(.yayrv-checkbox-disabled):hover .yayrv-checkbox-inner {
	border-color: var(--primary-color)
}

.yayrv-checkbox-wrapper-checked:not(.yayrv-checkbox-wrapper-disabled):hover .yayrv-checkbox-inner,
.yayrv-checkbox-checked:not(.yayrv-checkbox-disabled):hover .yayrv-checkbox-inner,
.yayrv-checkbox-wrapper:not(.yayrv-checkbox-wrapper-disabled):hover .yayrv-checkbox-checked:not(.yayrv-checkbox-disabled) .yayrv-checkbox-inner {
	background-color: var(--primary-color-light)
}

.yayrv-checkbox-wrapper:not(.yayrv-checkbox-wrapper-disabled):hover .yayrv-checkbox-checked:not(.yayrv-checkbox-disabled):after {
	border-color: var(--primary-color-light);
}

/* Input */
.ant-color-picker-input .yayrv-input {
	min-height: initial;
}

/* Switch */
.yayrv-switch.yayrv-switch-checked,
.yayrv-switch.yayrv-switch-checked:hover:not(.yayrv-switch-disabled) {
	background: var(--primary-color);
}

/* Tab */
.yayrv-tabs .yayrv-tabs-tab.yayrv-tabs-tab-active .yayrv-tabs-tab-btn {
	color: var(--text-color-primary);
}

.yayrv-tabs .yayrv-tabs-tab:hover {
	color: var(--text-color-primary);
}


.yayrv-tabs-ink-bar {
	height: 3px !important;
	background: var(--primary-color) !important;
}

/* Typography */
a.yayrv-typography {
	color: var(--text-color-primary);
}

/* Date picker */

.yayrv-picker-range .yayrv-picker-active-bar {
	background: var(--primary-color);
}

.yayrv-picker-dropdown .yayrv-picker-cell-in-view.yayrv-picker-cell-selected .yayrv-picker-cell-inner,
.yayrv-picker-dropdown .yayrv-picker-cell-in-view.yayrv-picker-cell-range-start .yayrv-picker-cell-inner,
.yayrv-picker-dropdown .yayrv-picker-cell-in-view.yayrv-picker-cell-range-end .yayrv-picker-cell-inner,
.yayrv-picker-cell-in-view.yayrv-picker-cell-range-start .yayrv-picker-cell-inner {
	background: var(--primary-color) !important;
}

.yayrv-picker-dropdown .yayrv-picker-cell-in-view.yayrv-picker-cell-today .yayrv-picker-cell-inner::before {
	border-color: var(--primary-color) !important;

}

.yayrv-picker-cell-range-hover::after,
.yayrv-picker-cell-range-hover-end::after {
	border-color: var(--primary-color) !important;
}

/* Quill */
.ql-html-buttonGroup .ql-html-buttonOk {
	background: var(--primary-color);
}

/* Copy shortcode */
.yayrv-copy-text.copy-success {
	cursor: "default";
	background: var(--primary-color);
	transition: all .3s;
}

/* Menu */
.yayrv-menu-light .yayrv-menu-item-selected {
	color: var(--text-color-primary) !important;
}

.yayrv-menu-light .yayrv-menu-item-active:not(.yayrv-menu-item-selected) {
	color: var(--primary-color-dark) !important;
}

.yayrv-settings ul.yayrv-menu>li.yayrv-menu-item-selected::after {
	border-color: var(--primary-color) !important;
}

/* Upgrade badge */
.yayrv-upgrade-badge {
	&>sup {
		background: var(--primary-color) !important;
	}

	&.success>sup {
		background: var(--yayrv-success-background-color) !important;
		color: var(--yayrv-success-text-color) !important;
	}
}


.yayrv-ribbon {
	background-color: var(--primary-color-light);
}


/* Premade modal */
.yayrv-premade-modal:hover {
	border-color: var(--primary-color);
}

/* Typography */
a.yayrv-typography:focus,
.yayrv-typography a:focus,
a.yayrv-typography:hover,
.yayrv-typography a:hover {
	color: var(--primary-color-dark)
}

/* Disabled */
input[type=checkbox].disabled,
input[type=checkbox].disabled:checked:before,
input[type=checkbox]:disabled,
input[type=checkbox]:disabled:checked:before,
input[type=radio].disabled,
input[type=radio].disabled:checked:before,
input[type=radio]:disabled,
input[type=radio]:disabled:checked:before {
	opacity: 0;
}

/* Search Input */
input[type="search"]:focus {
	box-shadow: none !important;
	outline: none !important;
}

/* Modal */
.yayrv-modal-close {
	top: 20px !important
}

.yayrv-modal-wrap {
	z-index: 99999 !important;
}

/* tooltip */
.yayrv-tooltip-inner {
	text-align: center !important;
}